<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a href="/" id="logo">@Config.CompanyName</a></h1>
                    <nav id="nav">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Наши услуги</a>
                        <a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>


                        @if (User.IsInRole("user"))
                        {
                            <a asp-area="" asp-controller="User" asp-action="Index">Личный кабинет</a>
                        }
                        else if (User.IsInRole("admin"))
                        {
                            <a asp-area="" asp-controller="Admin" asp-action="Index">Кабинет администратора</a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
                            <a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
                        }


                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>
